FeatureManagement__NewPrepareBillingTask=true
CalculationSetting__BaseUrl=https://ke-billing-calculator-uat-rveqte6wba-ez.a.run.app
ConnectionStrings__MySqlCore=Server=mysql;Database=kikkercore;User=kikker;Password=kikker;
ConnectionStrings__PasswordCore=kikker
CalculationSetting__InsufficientFactorsRetryDays=2
ConnectionStrings__MySql=Server=mysql;Database=ke-auto-billing;User=kikker;Password=kikker;
FeatureManagement__Automation=true
Swagger__Enabled=true
ByPassValidateUntil=false
ConnectionStrings__Password=kikker
HourlyService__BaseUrl=https://ke-hourly-product-uat-rveqte6wba-ez.a.run.app
ASPNETCORE_ENVIRONMENT=Production
DelayBillingTaskSetting__DelayInDays=10
