# Local-only overrides for ke-core (do not commit secrets)
# Set a valid key for local run, for example:
# IronPdf.LicenseKey=your-license-key
# IronPdf__LicenseKey=your-license-key

IronPdf.LicenseKey=
IronPdf__LicenseKey=
