ASPNETCORE_ENVIRONMENT=UAT
Audience__Secret=Y3Rpb25MaXN0LFVzZXJJbnNlcnQsQXV0aG9yaXR5SW5zZXJ0LEF1dGhvcml0eUVkaXQsQXV0aG9
Auth__SystemAdminPassword=secret(system-job-credentials)
Auth__SystemAdminUserName=secret(system-job-credentials)
Auth__url=http://kikker-practice-authentication:8080/auth
AuthorizationSyncRpiInvoiceBatch=kikker
AutoBilling__BaseUrl=https://ke-auto-billing-uat-rveqte6wba-ez.a.run.app
BillingRefactor__BaseUrl=https://ke-billing-calculator-uat-rveqte6wba-ez.a.run.app
CalculateServiceMidDay__Endpoint=https://profile-calculated-meter-reads-rveqte6wba-ez.a.run.app/api/calculate/{7}/midday?profile={0}&multiplicationFactor={1}&from={2}&meterReadFrom={3}&until={4}&meterReadUntil={5}&targetDate={6}
ConnectionString__MySql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=kikkercore;TreatTinyAsBoolean=false;Connection Timeout=900
ConnectionString__Password=kikker
Core__url=http://kikker-core/core
CorsDomain=https://uat.kikker.nl
Crm__password=4a2497879f347d4f083e5c2c1e1352c3
Crm__url=http://kikker-crm/crm
Crm__user_name=kikker_crm
DarkSky__Key=0ed8f72143cda6d14279ffa57fd41c39
DynamicFractionApi__RootEndpoint=https://dynamic-fractions-rveqte6wba-ez.a.run.app/
EdsnTariff__GetTariff=api/tariffs
EdsnTariff__Url=https://captar-prices-rveqte6wba-ez.a.run.app
Edsn__KikkerEan=8719328011804
Edsn__NumberToSend=1
Edsn__url=https://ke-edsn-rest-api-poc-vn-uat-rveqte6wba-ez.a.run.app/edsn/
EventBus__AzureServiceBusEnabled=false
EventBus__DelayCreateCustomer=2
EventBus__Enabled=true
EventBus__EventBusConnection=kikker-uat-rabbitmq
EventBus__EventBusPassword=secret(kikker-uat-rabbitmq)
EventBus__EventBusPrefetchCount=2
EventBus__EventBusRetryCount=20
EventBus__EventBusUserName=kikrmq
EventBus__IsDev=false
EventBus__Port=5672
EventBus__SubscriptionClientName=Core
ExactOnline__RedirectUri=https://uat.kikker.nl
ExactOnline__Url=https://start.exactonline.nl
Excel__MailReceiver=ellen@kikker.nl;jan@kikker.nl
ExperianService__Endpoint=http://kikker-credit-check/credit-check
FeatureManagement__AutomationEndpoints=true
FeatureManagement__BillingRefactor=true
Firebase__CredentialsJson=secret(firebase-adminsdk-json)
GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/google/key.json
GoogleApi__Key=secret(kikker-google-api-dev)
GooglePubSubSettings__Emulator=false
GooglePubSubSettings__TopicP4Usage=TopicP4Usage_UAT
GoogleRecatcha__SecretKey=secret(kikker-google-recaptcha-dev)
GoogleRecatcha__SiteKey=secret(kikker-google-recaptcha-dev)
GridOperatorCost__url=https://ke-gridoperator-costs-813732417868.europe-west4.run.app
Gui__YearlyBilling=https://uat.kikker.nl/yearly-billing/download/{0}/{1}
Gui__url=https://uat.kikker.nl/
GvbInvoice__AllowCreatePayment=true
Invoice__UrlOpenDetail=https://kikker.nl/invoice?id=
IronPdf.LicenseKey=secret(iron-pdf)
KVK_API_KEY=secret(kvk-api-key)
Kvk__searchTradeName=api/kvk/search
Kvk__url=https://kvk-rest-api-using-mock-g3yecgunzq-ez.a.run.app/
MailExportExcel__mail_cc=hong.phan@infodation.vn
MailExportExcel__mail_to=ngoc.nguyen@infodation.vn
MailServer__BillingPayoutXmlEmails=jan@kikker.nl,lex@kikker.nl,luka@kikker.nl
MailServer__bcc=kikker_demo@kikker.nl
MailServer__display_name=Kikker Energie
MailServer__mail_cc=admin@kikker.nl
MailServer__mail_from=admin@kikker.nl
MailServer__mail_password=ahka
MailServer__mail_smtp_server=kikker-uat-mailhog
MailServer__mail_username=admin@kikker.nl
MailServer__sales_kikker=info@kikker.nl
MailServer__smtp_enable_ssl=false
MailServer__smtp_port=1025
MasterDataUpdate__CallToMDCount=15
MerterReadingService__Endpoint=https://profile-calculated-meter-reads-rveqte6wba-ez.a.run.app/api/calculate/{5}?profile={0}&sjv={1}&multiplicationFactor={2}&from={3}&until={4}
OtrsService__Url=http://kikker-otrs/otrs
P4EanUsageApi__Url=http://kikker-p4-ean-usage:8082
Payment__CmUrl=https://testsecure.docdatapayments.com/ps/menu?client_language=nl&merchant_name=kikker_energie_b_v&payment_cluster_key={0}
Payment__CmUrlWrs=https://testsecure.docdatapayments.com/ps/menu?client_language=nl&merchant_name={0}&payment_cluster_key={1}
Payment__ExpireDayDirectDebit=30
Payment__ExpireDayIdeal=14
Payment__ExpireDayIdealSecondTime=7
Payment__Url=http://kikker-payment
PricingAPI__InternalUrl=http://kikker-pricing/internal/pricing
PricingAPI__Url=http://kikker-pricing/pricing
PublicImageUrl=https://storage.googleapis.com/kikkeruatbucket/images/
RatingAPI__Url=http://kikker-rating/rate
S3Api__url=http://kikker-s3/
S3__BucketName=kikkeruatbucket
S3__ContractsFolder=contracts
S3__ImagesFolder=images
S3__PublicServiceURL=https://api.uat.kikker.nl/core/api/System/getimage
SepResellerWebHookAuthorization__Base64Credential=secret(sep-reseller-webhook-authorization-test)
SepResellerWebHookAuthorization__TargetAudience=sep-api-test
Serilog__MinimumLevel__Override__Microsoft.AspNetCore=Warning
Serilog__MinimumLevel__Override__Microsoft.EntityFrameworkCore=Warning
Serilog__MinimumLevel__Override__System.Net.Http.HttpClient.HeaderPropagation.LogicalHandler=Warning
SignRequestGvb__ApiKey=secret(kikker-signrequest-gvb-api-dev)
SignRequestRedirect__url=https://uat.kikker.nl/thankyou?rid={0}&cid={1}
SignRequest__ApiKey=secret(kikker-signrequest-api-dev)
Swagger__Enabled=true
Tariff__url=https://captar-prices-rveqte6wba-ez.a.run.app
Twilio__FromPhoneNumber=Kikker
Twilio__TwilioAccountSid=secret(kikker-twilio)
Twilio__TwilioAuthToken=secret(kikker-twilio)
Twilio__TwilioMessageServiceSid=secret(kikker-twilio)
UsageService__Url=http://kikker-usage
WebPortal__Url=https://uat.kikker.nl
Webhook__url=https://api.uat.kikker.nl/core/api/SignRequest/kkwebhook?resellerId={0}&contractId={1}
YearlyStatementAPI__Url=http://kikker-yearly-statement/yearlystatement
domain=https://api.uat.kikker.nl
openApp=https://kikker.page.link/openApp
