database__dbname=fractions2
writedatabase__dbname=fractions2
writedatabase__server=mysql
database__port=3306
database__password=kikker
writedatabase__password=kikker
database__user=kikker
writedatabase__user=kikker
writedatabase__port=3306
database__server=mysql
