AutoBillingService__BaseUrl=https://ke-auto-billing-uat-rveqte6wba-ez.a.run.app
AllowOrigins=http://localhost:9000;https://kikker.nl;https://*.kikker.nl;https://*.run.app;https://portal.ke-pre-prod.infodation.com;https://*.infodation.com
Swagger__Enabled=true
FeatureManagement__DisableVFto1Year=false
PricingSetting__BaseUrl=http://10.164.15.226/
FeatureManagement__DynamicFraction=true
ImageConfig__PublicImageUrl=https://storage.googleapis.com/kikker-pre-production/images/
CollectorService__BaseUrl=https://ke-billing-collector-uat-rveqte6wba-ez.a.run.app
ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__MySql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=ke-billing;TreatTinyAsBoolean=false
PdfService__BaseUrl=https://ke-pdf-uat-rveqte6wba-ez.a.run.app
ConnectionStrings__Password=kikker
FeatureManagement__DisableGenerateVolti=false
CoreSetting__BaseUrl=http://10.164.15.228/
FeatureManagement__Automation=true
