DB_PASSWORD=kikker
JAVA_OPTS=-Dlog4j2.formatMsgNoLookups=true -XX:+UnlockExperimentalVMOptions -XX:+UseContainerSupport -Xms64m -Xmx200m
MQ_PASSWORD=secret(kikker-uat-rabbitmq)
SLEEP=10
SOURCE_SENDER_ID=8719328011804
WSDL_SIGNER_PROP=config/client-sign-prod.properties
application_eans_size=10
application_tmrwsdl=https://tm.edsn.nl/tmrWSFase4/MeetdataCentraalPort?wsdl
application_wsdl=https://pp4-test.edsn.nl/P4BatchVerzoekMeterstand/P4Port?wsdl
flyway_schemas=kikker_p4_ean_usage
flyway_url=jdbc:mysql://mysql:3306/kikker_p4_ean_usage?autoreconnect=true&createDatabaseIfNotExist=true
flyway_user=kikker
logging_level_root=INFO
spring_datasource_readonly_url=jdbc:mysql://mysql:3306/kikker_p4_ean_usage?autoreconnect=true&createDatabaseIfNotExist=true
spring_datasource_readonly_username=kikker
spring_datasource_url=jdbc:mysql://mysql:3306/kikker_p4_ean_usage?autoreconnect=true&createDatabaseIfNotExist=true
spring_datasource_username=kikker
spring_profiles_active=prod
spring_rabbitmq_host=kikker-uat-rabbitmq
spring_rabbitmq_port=5672
spring_rabbitmq_username=kikrmq
