Serilog__MinimumLevel__Override__System.Net.Http.HttpClient.HeaderPropagation.LogicalHandler=Warning
Serilog__MinimumLevel__Override__Microsoft.AspNetCore=Warning
EDSN__PortaalSearch__BaseUri=https://edsn-mock.uat.kikker.nl
ConnectionStrings__MainDatabase=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=ke_edsn_rest_api_poc;TreatTinyAsBoolean=false
EDSN__Certificate__Active=false
FeatureManagement__AutomationApi=true
EDSN__Portaal__BaseUri=https://edsn-mock.uat.kikker.nl
ASPNETCORE_URLS=http://+:80
ASPNETCORE_ENVIRONMENT=Production
