Storage__SecretKey=Secret: HMAC_SECRET_KEY_KIKKER_UAT:latest
Swagger__Enabled=true
Storage__S3Options__BucketName=kikkeruatbucket
ASPNETCORE_ENVIRONMENT=Development
Storage__AccessKey=Secret: HMAC_ACCESS_KEY_KIKKER_UAT:latest
ConnectionStrings__Password=kikker
ConnectionStrings__MySql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=ke-pdf;TreatTinyAsBoolean=false
Storage__Host=storage.googleapis.com
ASPNETCORE_URLS=http://+:80
