CoreService__BaseUrl=http://10.164.15.228
Swagger__Enabled=true
BillingSettings__AutoBillingExpirationDays=2
FeatureManagement__DynamicFraction=true
EdsnService__BaseUrl=https://ke-edsn-rest-api-poc-vn-uat-rveqte6wba-ez.a.run.app
TmrSetting__BaseUrl=http://10.164.0.8:8082
PricingService__BaseUrl=http://10.164.15.226
BillingCalculatorService__BaseUrl=https://ke-billing-calculator-uat-rveqte6wba-ez.a.run.app
CalSetting__BaseUrl=http://ke-calculated-legacy
CalDynamicSetting__BaseUrl=http://ke-calculated-dynamic
FRDCSetting__StartDate=2024-10-01
P4Setting__BaseUrl=http://10.164.0.8:8082
HourlySetting__BaseUrl=https://ke-hourly-product-uat-rveqte6wba-ez.a.run.app
