AutomationApi__Enabled=true
GoogleBigQuerySettings__MessageCount=10
GooglePubSubSettings__TopicP4Usage=TopicP4Usage_UAT
Swagger__Enabled=true
PrePopulateUsage__EanBatchSize=5
GooglePubSubSettings__TopicHourlyUsageDayAHead=TopicHourlyUsageDayAHead_UAT
HourlyFraction__BaseUrl=https://dynamic-fractions-rveqte6wba-ez.a.run.app
GoogleBigQuerySettings__DataSetKikkerHourly=kikker_hourly_uat
MissingHourlyUsage__VolumeStatusBatchSize=1000
GoogleBigQuerySettings__TableMeterReading=meter_reading
P4EanUsage__BaseUrl=http://p4usage.infodation.com/p4-usage
ASPNETCORE_ENVIRONMENT=Production
GooglePubSubSettings__TopicP4UsageMissing=TopicP4UsageMissing_UAT
MissingHourlyUsage__EanBatchSize=5
Serilog__MinimumLevel__Override__Microsoft=Warning
GooglePubSubSettings__Emulator=false
TenNetSettings__ApiKey=7076fb69-87f0-42e5-8d0d-e60c69a229f8
ConnectionStrings__MySql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=ke_hourly_product;TreatTinyAsBoolean=false
AuthSettings__Password=Secret: KE_UAT_AUTH_JOB_PASSWORD:latest
