ConnectionStrings__WriteDatabaseConnection=Server=mysql;Port=3306;Database=fractions3;Uid=kikker;Pwd=kikker
ConnectionStrings__ReadDatabaseConnection=Server=mysql;Port=3306;Database=fractions3;Uid=kikker;Pwd=kikker
