AllInPowerId=229
AnalyticsConnectionString__Password=kikker
Audience__Secret=Y3Rpb25MaXN0LFVzZXJJbnNlcnQsQXV0aG9yaXR5SW5zZXJ0LEF1dGhvcml0eUVkaXQsQXV0aG9
ConnectionString__MySql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=pricing;TreatTinyAsBoolean=false;Convert Zero Datetime=True;;Application Name=kikker_pricing;
ConnectionString__Password=kikker
CoreService__EdsnGridOperatorConnection=/Edsn/gridoperator-connection
CoreService__EdsnMeteringPoints=/Edsn/search/meteringpoints
CoreService__MinContractDate=/kkcontract/mincontractdate
CoreService__ResellerId=/Reseller/get-reseller-uuid
CoreService__UrgentMinContractDate=/kkcontract/urgentmincontractdate
CoreService__Url=http://kikker-core/core/api
CorsDomain=https://uat.kikker.nl
EmailConfiguration__SmtpPassword=secret(kikker-pricing-leba-mail)
EmailConfiguration__StpUsername=leba@kikker.nl
EventBus__AzureServiceBusEnabled=false
EventBus__Enabled=true
EventBus__EventBusConnection=kikker-uat-rabbitmq
EventBus__EventBusPassword=secret(kikker-uat-rabbitmq)
EventBus__EventBusPrefetchCount=2
EventBus__EventBusRetryCount=20
EventBus__EventBusUserName=kikrmq
EventBus__IsDev=false
EventBus__Port=5672
EventBus__SubscriptionClientName=Pricing
FeatureManagement__AutomationApi=true
GOOGLE_APPLICATION_CREDENTIALS=/var/secrets/google/key.json
GVBService__Url=https://ke-gvb-hourly-product-uat-813732417868.europe-west4.run.app/
GooglePubSubSettings__TopicSyncDailyPriceGvbHourly=TopicSyncDailyPriceGvbHourly_UAT
HourlyProductService__BaseUrl=https://ke-hourly-product-uat-rveqte6wba-ez.a.run.app
MontelConnectionString__Mysql=Server=mysql;User Id=kikker;Password=kikker;port=3306;Database=montel;TreatTinyAsBoolean=false;Convert Zero Datetime=True;;Application Name=kikker_pricing;
MontelConnectionString__Password=kikker
MontelDirect__BaseUrl=https://test-api.montelnews.com
MontelDirect__ClientId=secret(montel-direct-config)
MontelDirect__Password=secret(montel-direct-config)
MontelDirect__Username=secret(montel-direct-config)
PricePredictorService__Url=https://price-predictor-rveqte6wba-ez.a.run.app
PricingAPI__ExternalUrl=https://api.uat.kikker.nl/
RatingService__Url=http://kikker-rating/rate
S3__PricingsFolder=pricings
S3__Url=http://kikker-s3/
Serilog__MinimumLevel__Override__Microsoft.AspNetCore=Warning
Serilog__MinimumLevel__Override__System.Net.Http.HttpClient.HeaderPropagation.LogicalHandler=Warning
Swagger__Enabled=true
